<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="content">
      <div class="content-header">
        <h1>Expense Tracker</h1>
      </div>
      <div class="content-body">
        <form id="expense-form" action="{{ url_for('home') }}" method="post">
          <div class="body-input">
            <input type="number" name="amount" placeholder="Amount" />
            <input type="text" name="category" placeholder="Category" />
            <input type="text" name="description" placeholder="Description" />
            <input type="date" name="date" /><br /><br />
          </div>
          <div class="body-buttons">
            <button id="body-button" type="submit" name="modify" value="add">
              Add Expense
            </button>
            <button id="body-button" type="submit" name="modify" value="remove">
              Remove Selected
            </button>
            <button id="body-button" type="submit" name="modify" value="clear">
              Clear All Data
            </button>
            <a href="{{url_for('download_csv')}}" id="download-link" download
              >Convert to CSV</a
            ><br />
          </div>
          <table>
            <thead>
              <tr>
                <th>
                  Amount
                  <button name="sort" value="amount">
                    <img
                      id="sort-arrow"
                      src="../static/down.png"
                      alt="sort_arrow"
                    />
                  </button>
                </th>
                <th>
                  Category
                  <button name="sort" value="category">
                    <img
                      id="sort-arrow"
                      src="../static/down.png"
                      alt="sort_arrow"
                    />
                  </button>
                </th>
                <th>
                  Description
                  <button name="sort" value="description">
                    <img
                      id="sort-arrow"
                      src="../static/down.png"
                      alt="sort_arrow"
                    />
                  </button>
                </th>
                <th>
                  Date
                  <button name="sort" value="date">
                    <img
                      id="sort-arrow"
                      src="../static/down.png"
                      alt="sort_arrow"
                    />
                  </button>
                </th>
              </tr>
            </thead>
            <tbody id="expense-table">
              <!-- Expenses will be added here -->
              {% for expense in expenses %}
              <tr>
                <td>
                  <input
                    type="checkbox"
                    name="expense_id"
                    value="{{expense[0]}}"
                  />{{ expense[1] }}
                </td>
                <td>{{ expense[2] }}</td>
                <td>{{ expense[3] }}</td>
                <td>{{ expense[4] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
